# Python
__pycache__/
*.py[cod]
*.sqlite3

# Entornos
.venv/
env/
.env
.env.*

# Logs y dumps
*.log
*.sql
*.dump
*.tar
*.tar.gz
*.gz
*.zip

# Front
node_modules/
.dist/
.build/

# Django estáticos/subidos
staticfiles/
media/

# Docker volúmenes/datos
data/
**/data/
db/
**/db/
mysql/
**/mysql/
postgres/
**/postgres/
redis/
**/redis/

# IDE
.vscode/
.idea/
.DS_Store
data/
**/data/
db/
**/db/
mysql/
**/mysql/
postgres/
**/postgres/
redis/
**/redis/
