.env
*.key
*.pem
__pycache__/
*.py[cod]
*.egg-info/
media/
staticfiles/
db.sqlite3
*.log
*.pid
.vscode/
.idea/
.DS_Store
# No subir datos binarios/locales
data/
*.sql
*.sql.gz
*.dump
*.tar
*.tar.gz
*.zip
*.7z
data/
*.sql
*.sql.gz
*.dump
